@import helper._
@()(implicit header: RequestHeader, messages: Messages, pm: PageMeta, wja: WebJarAssets)
@page("My Account") {
@sidenav("Edo")		
			<header>My Account</header>

			<label>Edoin Rangga</label>
			<label>Edo</label>
			<label>0123456789</label>


			<label>Personal Information</label>
			<label>Username: Edo</label>
			<label>Email: asda&commat;mail.com</label>
			<label>Birthday: Dec 30</label>
			<label>Address: Street</label>
			<label>Nationality: Filipino</label>
	
		</div>
	</div>
} {
	<script src="@routes.Assets.versioned("scripts/main.js")"></script>
	<script src="@routes.Assets.versioned("scripts/main2.jss")"></script>
}