@import helper._
@()(implicit header: RequestHeader, messages: Messages, pm: PageMeta, wja: WebJarAssets)
@page("My Friends") {
@sidenav("Edo")
	<ul class="accordion" data-accordion>
	  <li class="accordion-item" data-accordion-item>
	    <a href="#" class="accordion-title">Friend A </a>
	    <div class="accordion-content" data-tab-content>
	      Juan Dela Cruz
	      	<div class="row align-right">
	          message
	          &nbsp;
	          edit
	          &nbsp;
	          <a data-open="confirmToTrash">trash</a>
	        </div>
	    </div>
	  </li>
	  <li class="accordion-item" data-accordion-item>
	    <a href="#" class="accordion-title">Friend B </a>
	    <div class="accordion-content" data-tab-content>
	      Juan Dela Cruz
	    </div>
	  </li>
	  <li class="accordion-item" data-accordion-item>
	    <a href="#" class="accordion-title">Friend C </a>
	    <div class="accordion-content" data-tab-content>
	      Juan Dela Cruz
	    </div>
	  </li>
	</ul>

	<div class="tiny reveal" id="confirmToTrash" data-reveal>
		<h5>Move to Trash</h5>
		<p>Moving "name" to trash, is this okay?</p>
		<button class="close-button" data-close aria-label="Close modal" type="button">
			<span aria-hidden="true">&times;</span>
		</button>
		<div class="row">
			<a href="#" data-close class="columns hollow button">Cancel</a>
			<a href="#" class="columns button">Move</a>
		</div>
	</div>

	<div class="reveal" id="editInfo" data-reveal>
		<h5>Edit</h5>
		
	</div>

<!-- .accordion-navigation > .content, .accordion dd > .content {
  padding: 0.83333rem;
} -->
} {
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.accordion.js"))"></script>
	<script src="@routes.Assets.versioned("scripts/main.js")"></script>
	<script src="@routes.Assets.versioned("scripts/main2.js")"></script>
}