@import helper._
@import models.User

@(users: Seq[User])(implicit header: RequestHeader, messages: Messages, pm: PageMeta, wja: WebJarAssets)
@helper.base{
	<link rel="stylesheet" href="@routes.Assets.versioned("style/global.css")">
	<link rel="stylesheet" href="@routes.Assets.versioned("style/main.css")">
} {
	<table>
		<thead>
			<th>ID</th>
			<th>Fullname</th>
			<th>Birthdate</th>
			<th>Email</th>
			<th>Number</th>
			<th>Address</th>
			<th>Nationality</th>
			<th>Username</th>
			<th>Password</th>
		</thead>
		<tbody>
			@for(user <- users){
				<tr>
					<td>@user.optId</td>
					<td>@user.fullname</td>
					<td>@user.birthdate</td>
					<td>@user.email</td>
					<td>@user.number</td>
					<td>@user.address</td>
					<td>@user.nationality</td>
					<td>@user.username</td>
					<td>@user.password</td>
				</tr>
			}
		</tbody>
	</table>

	<script src="@routes.Assets.versioned("scripts/main.js")"></script>
	<script src="@routes.Assets.versioned("scripts/main2.jss")"></script>
}